In [1]:
import pyspark
from pyspark.sql import SparkSession

In [31]:
spark.sparkContext.uiWebUrl

'http://de-zoomcamp-new.europe-west1-b.c.utility-logic-375619.internal:4041'

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/05 13:10:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/05 13:10:07 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
!wget https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-01.csv

--2023-03-05 13:10:10--  https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-01.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.216.185.83, 52.217.237.1, 54.231.226.49, ...
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.216.185.83|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2023-03-05 13:10:10 ERROR 403: Forbidden.

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz

--2023-03-05 13:12:23--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230305%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230305T131223Z&X-Amz-Expires=300&X-Amz-Signature=25e3e1399ebceaab4fd72c130238efe4cbef6c43dbb3a6805a65b661b5e3fe1b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-05 13:12:23--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230305%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230305T131223Z&X-Amz-Expires=300&X-Amz-Signature=25e3e1399ebceaab4fd72c130238efe4cbef6c43dbb3a6805a65b661b5e3fe1b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 129967421 (124M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-01.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 123.95M  26.8MB/s    in 5.7s

2023-03-05 13:12:30 (21.7 MB/s) - ‘fhvhv_tripdata_2021-01.csv.gz’ saved [129967421/129967421]

In [7]:
!gzip -d  fhvhv_tripdata_2021-01.csv.gz

In [8]:
!wc -l fhvhv_tripdata_2021-01.csv

11908469 fhvhv_tripdata_2021-01.csv

In [9]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-01.csv')

In [12]:
df.head(5)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:33:44', dropoff_datetime='2021-01-01 00:49:07', PULocationID='230', DOLocationID='166', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:55:19', dropoff_datetime='2021-01-01 01:18:21', PULocationID='152', DOLocationID='167', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:23:56', dropoff_datetime='2021-01-01 00:38:05', PULocationID='233', DOLocationID='142', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:42:51', dropoff_datetime='2021-01-01 00:45:50', PULocationID='142', DOLocationID='143', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:48:14', dropoff_datetime='2021-01-01 01:08:42', PULocationID='143', DOLocationID='78', SR_Flag=None)]

In [10]:
df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True)])

In [13]:
!head -n 1001 fhvhv_tripdata_2021-01.csv > head.csv

In [14]:
import pandas as pd

In [15]:
df_pandas = pd.read_csv('head.csv')

In [19]:
df_pandas.head()

,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag
0,HV0003,B02682,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,NaN
1,HV0003,B02682,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,NaN
2,HV0003,B02764,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,NaN
3,HV0003,B02764,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,NaN
4,HV0003,B02764,2021-01-01 00:48:14,2021-01-01 01:08:42,143,78,NaN

In [16]:
df_pandas.dtypes

hvfhs_license_num        object
dispatching_base_num     object
pickup_datetime          object
dropoff_datetime         object
PULocationID              int64
DOLocationID              int64
SR_Flag                 float64
dtype: object

In [32]:
spark.createDataFrame(df_pandas).schema

/home/blanpa/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/blanpa/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True)])

StructType(
    [
        StructField('hvfhs_license_num', StringType(), True), 
        StructField('dispatching_base_num', StringType(), True), 
        StructField('pickup_datetime', StringType(), True), 
        StructField('dropoff_datetime', StringType(), True), 
        StructField('PULocationID', LongType(), True), 
        StructField('DOLocationID', LongType(), True), 
        StructField('SR_Flag', DoubleType(), True)
    ])

Integer - 4 bytes
Long - 8 bytes

In [33]:
from pyspark.sql import types

In [34]:
schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True)
])

In [43]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-01.csv')

In [44]:
df = df.repartition(24)

In [ ]:
df.write.parquet('fhvhv/2021/01/')

In [40]:
df = spark.read.parquet('fhvhv/2021/01/')

In [53]:
df

DataFrame[hvfhs_license_num: string, dispatching_base_num: string, pickup_datetime: timestamp, dropoff_datetime: timestamp, PULocationID: int, DOLocationID: int, SR_Flag: string]

In [46]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [57]:
df.select("pickup_datetime", "dropoff_datetime", "PULocationID", "DOLocationID") \
.filter(df.hvfhs_license_num == "HV0003")

Row(hvfhs_license_num='HV0003', dispatching_base_num='B02765', pickup_datetime=datetime.datetime(2021, 1, 4, 10, 59, 8), dropoff_datetime=datetime.datetime(2021, 1, 4, 11, 6, 48), PULocationID=255, DOLocationID=112, SR_Flag=None)

In [58]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02765|2021-01-04 10:59:08|2021-01-04 11:06:48|         255|         112|   null|
|           HV0003|              B02878|2021-01-06 09:37:31|2021-01-06 09:44:47|         226|         157|   null|
|           HV0005|              B02510|2021-01-04 13:10:40|2021-01-04 13:34:40|         141|         138|   null|
|           HV0003|              B02882|2021-01-03 15:11:11|2021-01-03 15:30:16|         243|          24|   null|
|           HV0003|              B02882|2021-01-07 05:19:55|2021-01-07 05:48:38|          76|         117|   null|
|           HV0003|              B02887|2021-01-03 12:40:52|2021-01-03 12:54:01|          70|         223|   null|
|           HV0003|              B02869|2021-01-01 18:01:25|2021-01-01 18:19:47|          37|          28|   null|
|           HV0005|              B02510|2021-01-05 01:40:50|2021-01-05 02:01:48|          25|         225|   null|
|           HV0003|              B02877|2021-01-01 03:02:07|2021-01-01 03:07:40|         166|          74|   null|
|           HV0005|              B02510|2021-01-02 23:03:34|2021-01-02 23:16:06|         243|          42|   null|
|           HV0003|              B02864|2021-01-02 08:12:48|2021-01-02 08:19:12|         238|          75|   null|
|           HV0003|              B02872|2021-01-02 17:24:10|2021-01-02 17:32:48|         246|         100|   null|
|           HV0003|              B02887|2021-01-02 17:42:00|2021-01-02 17:54:10|         243|         235|   null|
|           HV0005|              B02510|2021-01-04 15:50:49|2021-01-04 16:06:07|         107|          48|   null|
|           HV0003|              B02864|2021-01-06 17:48:38|2021-01-06 18:20:16|         243|         259|   null|
|           HV0003|              B02872|2021-01-01 06:57:31|2021-01-01 07:02:22|          70|         129|   null|
|           HV0003|              B02617|2021-01-01 19:02:48|2021-01-01 19:22:28|         112|          40|   null|
|           HV0003|              B02395|2021-01-06 16:03:17|2021-01-06 16:17:59|         231|         170|   null|
|           HV0003|              B02882|2021-01-05 07:32:40|2021-01-05 08:12:01|          35|         146|   null|
|           HV0003|              B02867|2021-01-05 20:59:48|2021-01-05 21:10:23|         231|          45|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

SELECT * FROM df WHERE hvfhs_license_num =  HV0003

In [59]:
from pyspark.sql import functions as F

In [60]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02765|2021-01-04 10:59:08|2021-01-04 11:06:48|         255|         112|   null|
|           HV0003|              B02878|2021-01-06 09:37:31|2021-01-06 09:44:47|         226|         157|   null|
|           HV0005|              B02510|2021-01-04 13:10:40|2021-01-04 13:34:40|         141|         138|   null|
|           HV0003|              B02882|2021-01-03 15:11:11|2021-01-03 15:30:16|         243|          24|   null|
|           HV0003|              B02882|2021-01-07 05:19:55|2021-01-07 05:48:38|          76|         117|   null|
|           HV0003|              B02887|2021-01-03 12:40:52|2021-01-03 12:54:01|          70|         223|   null|
|           HV0003|              B02869|2021-01-01 18:01:25|2021-01-01 18:19:47|          37|          28|   null|
|           HV0005|              B02510|2021-01-05 01:40:50|2021-01-05 02:01:48|          25|         225|   null|
|           HV0003|              B02877|2021-01-01 03:02:07|2021-01-01 03:07:40|         166|          74|   null|
|           HV0005|              B02510|2021-01-02 23:03:34|2021-01-02 23:16:06|         243|          42|   null|
|           HV0003|              B02864|2021-01-02 08:12:48|2021-01-02 08:19:12|         238|          75|   null|
|           HV0003|              B02872|2021-01-02 17:24:10|2021-01-02 17:32:48|         246|         100|   null|
|           HV0003|              B02887|2021-01-02 17:42:00|2021-01-02 17:54:10|         243|         235|   null|
|           HV0005|              B02510|2021-01-04 15:50:49|2021-01-04 16:06:07|         107|          48|   null|
|           HV0003|              B02864|2021-01-06 17:48:38|2021-01-06 18:20:16|         243|         259|   null|
|           HV0003|              B02872|2021-01-01 06:57:31|2021-01-01 07:02:22|          70|         129|   null|
|           HV0003|              B02617|2021-01-01 19:02:48|2021-01-01 19:22:28|         112|          40|   null|
|           HV0003|              B02395|2021-01-06 16:03:17|2021-01-06 16:17:59|         231|         170|   null|
|           HV0003|              B02882|2021-01-05 07:32:40|2021-01-05 08:12:01|          35|         146|   null|
|           HV0003|              B02867|2021-01-05 20:59:48|2021-01-05 21:10:23|         231|          45|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [61]:
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'

In [62]:
crazy_stuff('B02884')

's/b44'

In [63]:
crazy_stuff_udf = F.udf(crazy_stuff, returnType=types.StringType())

In [64]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .withColumn('base_id', crazy_stuff_udf(df.dispatching_base_num)) \
    .select('base_id', 'pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .show()

+-------+-----------+------------+------------+------------+
|base_id|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-------+-----------+------------+------------+------------+
|  a/a7a| 2021-01-05|  2021-01-05|         218|         130|
|  e/9ce| 2021-01-04|  2021-01-04|         145|         146|
|  e/b33| 2021-01-01|  2021-01-01|         179|         179|
|  e/b3b| 2021-01-01|  2021-01-01|         225|         177|
|  e/9ce| 2021-01-03|  2021-01-03|         181|          61|
|  e/9ce| 2021-01-06|  2021-01-06|          74|          41|
|  s/b13| 2021-01-01|  2021-01-01|          59|         212|
|  s/acd| 2021-01-03|  2021-01-03|          49|         217|
|  e/a39| 2021-01-06|  2021-01-06|          76|         188|
|  e/acc| 2021-01-06|  2021-01-06|         225|          80|
|  a/b37| 2021-01-02|  2021-01-02|           4|         181|
|  e/acc| 2021-01-07|  2021-01-07|          42|         166|
|  e/b3b| 2021-01-03|  2021-01-03|         244|         143|
|  s/b36| 2021-01-01|  2021-01-01|          97|          35|
|  e/9ce| 2021-01-01|  2021-01-01|         173|         173|
|  a/a7a| 2021-01-04|  2021-01-04|         188|         165|
|  e/b47| 2021-01-03|  2021-01-03|          90|          68|
|  e/9ce| 2021-01-04|  2021-01-04|         136|          69|
|  e/9ce| 2021-01-05|  2021-01-05|         172|         227|
|  e/b35| 2021-01-01|  2021-01-01|          72|         201|
+-------+-----------+------------+------------+------------+
only showing top 20 rows

In [66]:
df.select('pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID') \
  .filter(df.hvfhs_license_num == 'HV0003')

DataFrame[pickup_datetime: timestamp, dropoff_datetime: timestamp, PULocationID: int, DOLocationID: int]

In [67]:
!head -n 10 head.csv

hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag
HV0003,B02682,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,
HV0003,B02682,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,
HV0003,B02764,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,
HV0003,B02764,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,
HV0003,B02764,2021-01-01 00:48:14,2021-01-01 01:08:42,143,78,
HV0005,B02510,2021-01-01 00:06:59,2021-01-01 00:43:01,88,42,
HV0005,B02510,2021-01-01 00:50:00,2021-01-01 01:04:57,42,151,
HV0003,B02764,2021-01-01 00:14:30,2021-01-01 00:50:27,71,226,
HV0003,B02875,2021-01-01 00:22:54,2021-01-01 00:30:20,112,255,